<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="member" type="member.bean.MemberDTO" />
		<typeAlias alias="company" type="company.bean.CompanyDTO" />
		<typeAlias alias="performance" type="performance.bean.PerformanceDTO" />
		<typeAlias alias="customerService" type="customerService.bean.CustomerServiceDTO" />
		<typeAlias alias="imageboard" type="customerService.bean.ImageboardDTO" />
		<typeAlias alias="SalesExhigitionDTO" type="customerService.bean.SalesExhigitionDTO"  />
		<typeAlias alias="eventboard" type="customerService.bean.EventboardDTO"/>
		<typeAlias alias="hotelboard" type="customerService.bean.HotelboardDTO"/>
		<typeAlias alias="bookboard" type="performance.bean.Book_performance_membersDTO"/>
		<typeAlias alias="exhibition" type="rental.bean.ExhibitionDTO"/>
	</typeAliases>
</configuration>