<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="customerServiceSQL">
 	
 	
 	<!-- 공지사항 총글수 -->
 	<select id="getTotalC_notice" resultType="int">
 		select count(*) from C_notice
 	</select>
 	
 	<!-- 공지사항 리스트 -->
 	<select id="getNoticeList" parameterType="java.util.Map" resultType="customerService">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_notice order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 공지사항 검색 총글수 -->
 		<select id="getTotalC_notice_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from C_notice where ${subject} like '%'||#{keyword}||'%'
 	</select>
 	
 	<!-- 공지사항 검색 -->
 		<select id="C_notice_Search" parameterType="java.util.Map" resultType="customerService">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_notice
 		 where ${subject} like '%'||#{keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 공지사항 작성 -->
 	<insert id="C_notice_Write" parameterType="java.util.Map">
 		insert into C_notice values(seq_C_notice.nextval
		 							,#{subject}
		 							,#{content}
		 							,sysdate)
 	</insert>
 	
 	<!-- 공지사항 내용보기 -->
 	<select id="getNoticeInfo" parameterType="String" resultType="customerService">
 		select * from C_notice where seq=#{seq} 
 	</select>
 	
 	<!-- 공지사항 삭제 -->
 	<delete id="C_notice_Delete" parameterType="String">
 		delete C_notice where seq=#{seq}
 	</delete>
 	
 	<!-- 공지사항 수정 -->
 	<update id="C_notice_Modify" parameterType="java.util.Map">
 		update C_notice set subject=#{subject} , content =#{content} where seq=#{seq}
 	</update>
 	
 	
 	
 	
 	
 	
 	
 	<!-- 고객의 소리 문의하기 -->
 	<insert id="C_checkInquire" parameterType="customerService">
 		insert into C_inquire values(seq_C_inquire.nextval
 											,#{email}
		 									,#{classify}
		 									,#{name}
		 									,#{phone}
		 									,#{subject}
		 									,#{content}
		 									,sysdate)
 	</insert>
 	
 	<!-- 고객의 소리 문의 받은 글수 -->
 	<select id="getTotalC_inquire" resultType="int">
 		select count(*) from C_inquire
 	</select>
 	<!-- 고객의 소리 리스트 불러오기 -->
 	<select id="getInquireList" parameterType="java.util.Map" resultType="customerService">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_inquire order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 고객의 소리 문의글 검색된 총글수 -->
 	<select id="getTotalC_inquire_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from C_inquire where ${searchOption} like '%'||#{keyword}||'%'
 	</select>

 	<!-- 고객의소리 검색된글 불러오기 -->
 	<select id="C_inquire_Search" parameterType="java.util.Map" resultType="customerService">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_inquire
 		 where ${searchOption} like '%'||#{keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 고객의 소리 문의받은 글 내용 불러오기 -->
 	<select id="getInquireInfo" parameterType="int" resultType="customerService">
 		select * from C_inquire where seq=#{seq}
 	</select>
 	
 	<!-- 고객의 소리 문의 받은 글 답변하기 -->
 	<select id="getReplyInfo" parameterType="String" resultType="customerService">
 		select * from C_inquire where seq=#{seq}
 	</select>
 	
 	<!-- 답글 -->
 	<update id="C_inquire_Reply1" parameterType="customerService">
 		update C_inquire set step=step+1 where ref=#{ref} and step>=#{step}
 	</update>
 	
 	<insert id="C_inquire_Reply2" parameterType="customerService">
 		insert into C_inquire values(seq_inquire.nextval
 								,#{email}
 								,#{classify}
 								,#{name}
 								,#{phone}
 								,#{subject}
 								,#{content}
 								,#{ref}
 								,#{lev}
 								,#{step}
 								,#{pseq}
 								,0
 								,0
 								,sysdate)
 	</insert>
 	
 	<update id="C_inquire_Reply3" parameterType="customerService">
 		update C_inquire set reply = reply+1 where seq=#{pseq}
 	</update>
 	
 	
 	
 	
 	
 	<!-- 자주묻는 질문 -->
 	<insert id="C_QnA_checkWrite" parameterType="java.util.Map">
 		insert into C_QnA values(seq_C_QnA.nextval
		 							,#{classify}
		 							,#{subject}
		 							,#{content})
 	</insert>
 	
 	<!-- 자주묻는 질문 리스트 -->
 	<select id="getQnAList" resultType="customerService">
 		select * from C_QnA
 	</select>
 	
 	<!-- 자주묻는 질문 분류에 맞는 리스트 불러오기 -->
 	<select id="getQnA_Classify" parameterType="String" resultType="customerService">
 		select * from C_QnA where classify=#{classify}
 	</select>
 	
 	
 	
 	
 	
 	
 	
 	
 	<!-- 주요시설 연락처 총글수 -->
 	<select id="getTotalC_contactList" resultType="int">
 		select count(*) from C_contactList
 	</select>

 	<!-- 주요시설 연락처 리스트 불러오기 -->
 	<select id="getContactList" parameterType="java.util.Map" resultType="customerService">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_contactList order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 주요시설 연락처 검색 총글수 -->
 	<select id="getTotalC_contactList_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from C_contactList where ${searchOption} like '%'||#{keyword}||'%'
 	</select>
 	
 	<!-- 주요시설 연락처 검색 -->
 	<select id="C_contactList_Search" parameterType="java.util.Map" resultType="customerService">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_contactList
 		 where ${searchOption} like '%'||#{keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 주요시설 연락처 관리자가 등록하기 -->
 	<insert id="C_contactList_checkWrite" parameterType="java.util.Map">
 		insert into C_contactList values(seq_C_contactList.nextval
		 							,#{classify}
		 							,#{facility}
		 							,#{title}
		 							,#{name}
		 							,#{phone})
 	</insert>
 	 	
 	<!-- 글삭제 -->
 	<delete id="C_contactList_Delete" parameterType="java.util.List">
 		delete C_contactList where seq in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
 	
 	
 	
 	
 	
 	
 	<!-- 이미지작성  -->
	<insert id="imageboardWrite" parameterType="imageboard">
		insert into customerImageboard values(seq_customerImageboard.nextval
											,#{postSelect}
											,#{imageName}
											,#{image1}
											,#{startDate}
											,#{endDate}
											,#{eventLink})
	</insert>
	<!-- 총글수 -->
	<select id="getImageboardTotalA" resultType="int">
		select count(*) from customerImageboard
	</select>
		<!-- 이미지목록 -->
	<select id="imageboardList" parameterType="java.util.Map" resultType="imageboard">
		select * from(
		select rownum rn, tt.* from(
		select * from customerImageboard order by seq desc)tt
		)where rn <![CDATA[ >= ]]> #{startNum} and rn<![CDATA[<=]]> #{endNum}
	</select>
	
	<!-- 이미지삭제  -->
	<delete id="imageboardDelete" parameterType="java.util.List">
		delete customerImageboard where seq in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<select id="getList" parameterType="java.util.List" resultType="imageboard">
		select * from customerImageboard where seq in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<!--박람회 정보 넣기-->
	<insert id="eventInfoWrite" parameterType="eventboard">
		insert into eventboard values(seq_eventboard.nextval
						  			  ,#{postSelect}
									  ,#{imageName}
									  ,#{image1}
									  ,#{startDate}
									  ,#{endDate}
									  ,#{eventLink}
									  ,#{startTime}
									  ,#{endTime}
									  ,#{eventPlace}
									  ,#{eventPrice}
									  ,#{eventSeats}
									  ,#{eventRate}
									  ,#{eventContent})
	</insert>
	
	<!--연극 정보 넣기-->
	<insert id="eventInfoWrite_play" parameterType="eventboard">
		insert into eventboard_play values(seq_eventboard_play.nextval
						  			  ,#{postSelect}
									  ,#{imageName}
									  ,#{image1}
									  ,#{startDate}
									  ,#{endDate}
									  ,#{eventLink}
									  ,#{startTime}
									  ,#{endTime}
									  ,#{eventPlace}
									  ,#{eventPrice}
									  ,#{eventSeats}
									  ,#{eventRate}
									  ,#{eventContent})
	</insert>

	
	<!--메인 슬라이드 용 이미지 불러오기-->
	<select id="getImageboardSlide" parameterType="java.util.List" resultType="imageboard">
		select * from customerImageboard where seq in 
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			${item.value}
		</foreach>
	</select>
	
	<!--박람회 업로드 리스트 가져오기  -->
	<select id="eventboardList" parameterType="java.util.Map" resultType="eventboard">
		select * from(
		select rownum rn, tt.* from(
		select * from eventboard order by seq desc)tt
		)where rn <![CDATA[ >= ]]> #{startNum} and rn<![CDATA[<=]]> #{endNum}
	</select>
	
	<!--연극 업로드 리스트 가져오기  -->
	<select id="eventboardList_play" parameterType="java.util.Map" resultType="eventboard">
		select * from(
		select rownum rn, tt.* from(
		select * from eventboard_play order by seq desc)tt
		)where rn <![CDATA[ >= ]]> #{startNum} and rn<![CDATA[<=]]> #{endNum} and postSelect =2
	</select>
	
	<!--박람회 업로드 리스트 총 글수 가져오기 -->
	<select id="getEventboardTotalA" resultType="int">
	select count(*) from eventboard where postSelect = 1
	</select>
	
	<!--연극 업로드 리스트 총 글수 가져오기 -->
	<select id="getEventboardTotalA_play" resultType="int">
		select count(*) from eventboard_play where postSelect = 2
	</select>
	
	<!-- 박람회  업로드 리스트 삭제   -->
	<delete id="eventboardDelete" parameterType="java.util.List">
		delete eventboard where seq in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<!-- 연극  업로드 리스트 삭제   -->
	<delete id="eventboardDelete_play" parameterType="java.util.List">
		delete eventboard_play where seq in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	
	<!-- 호텔정보 넣기 -->
	<insert id="hotelInfoWrite" parameterType="hotelboard">
		insert into hotel_list values(seq_hotel_list.nextval
						  			  ,#{postSelect}
									  ,#{imageName}
									  ,#{image1}
									  ,#{eventLink}
									  ,#{eventPlace})
	</insert>
	
	<!-- 호텔리스트 -->
	<select id="hotelList" parameterType="java.util.Map" resultType="hotelboard">
		select * from 
 		(select rownum rn, tt.* from 
 		(select * from hotel_list order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
	</select>
	
	<!-- 호텔리스트 총글수 -->
	<select id="getHotelboardTotalA" resultType="int">
		select count(*) from hotel_list
	</select>
	
	<!-- 호텔  업로드 리스트 삭제   -->
	<delete id="hotelDelete" parameterType="java.util.List">
		delete hotel_list where seq in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<!-- 호텔이미지 삭제리스트 불러오기 -->
	<select id="hotelImageDel" parameterType="java.util.List" resultType="hotelboard">
		select * from hotel_list where seq in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	<!--박람회 정보 보기(수정하기 위해)  -->
	<select id="getEventboard" parameterType="java.lang.String" resultType="eventboard">
		select * from eventboard where seq = #{seq}
	</select>
	<!--호텔리스트 정보 보기  -->
	<select id="getHotelboard" parameterType="java.lang.String" resultType="hotelboard">
		select * from hotel_list where seq = #{seq}
	</select>
	<!--호텔리스트 정보 수정  -->
	<select id="C_hotelboardMod" parameterType="hotelboard">
		update hotel_list set imageName=#{imageName},image1=#{image1},eventLink=#{eventLink},eventPlace=#{eventPlace} where seq=#{seq}
	</select>
	
	<!--연극정보 예매DB에 저장-->
	<insert id="eventInfoWrite_play_bookDB" parameterType="customerService.bean.PlayBookDTO">
		      															  										  
	insert into eventboard_play_book(seq
									,imageName
									,playDate
									,playTicket
									,remainTicket
									,ticketPrice
									,bookTicket
									,bookMemberId
									,bookStatus)
							values (seq_eventboard_play_book.nextval
									,#{imageName}
									,#{playDate}
									,#{playTicket}
									,#{playTicket}
									,#{ticketPrice}
									,#{bookTicket}
									,#{bookMemberId}
									,#{bookStatus})
						
	</insert>
	<!-- 매출현황  -->
	<select id="getSalesExhibition" parameterType="java.lang.String" resultType="SalesExhigitionDTO">
 		select sum(endDate-startDate+1) as saleDays, sum(totalrent) as totalRent, boothName from EXHIBITIONRENTAL where STARTDATE BETWEEN #{salesMon} and (select last_day(#{salesMon}) from dual) group by BOOTHNAME
 	</select>
 	<!-- 매출현황  -->
 	<select id="getSalesTotalRentExhibition" parameterType="java.lang.String" resultType="int">
 		select sum(totalrent) as salesTotalRent from EXHIBITIONRENTAL where STARTDATE BETWEEN #{salesMon} and (select last_day(#{salesMon}) from dual)
 	</select>
 	<!-- 회원정보  -->
 	<select id="getMemberList" resultType="member">
 		select * from membertable 	
 	</select>
 	
 	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 