<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mainSQL">
 
 	<!-- 메인 공지사항 검색 -->
	<select id="index_NoticeSearch" parameterType="java.util.Map" resultType="customerService">
 		select * from C_notice where subject like '%'||#{index_keyword}||'%'
 	</select>
 	
 	<!-- 메인 공지사항 검색 총글수 -->
 	<select id="getTotal_index_NoticeSearch" parameterType="java.util.Map" resultType="int">
 		select count(*) from C_notice where subject like '%'||#{index_keyword}||'%'
 	</select>
 	
 	<!-- 메인 자주묻는질문 검색 -->
	<select id="index_QnASearch" parameterType="java.util.Map" resultType="customerService">
	
 		select * from C_QnA where subject like '%'||#{index_keyword}||'%'
 	</select>
 	
 	<select id="index_exSlider" resultType="eventboard">
 		select * from eventboard_play where startDate >= sysdate-1
 	</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 