<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mainSQL">
 
 	<!-- 메인 공지사항 검색 -->
	<select id="index_notice_Search" parameterType="java.util.Map" resultType="main.bean.MainDTO">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_notice where 
 		 upper(subject) like '%'||upper(#{index_keyword})||'%'or upper(content) like '%'||upper(#{index_keyword})||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 메인 공지사항 검색 총글수 -->
 	<select id="getTotal_index_notice_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from C_notice where upper(subject) like '%'||upper(#{index_keyword})||'%' or 
 		upper(content) like '%'||upper(#{index_keyword})||'%'
 	</select>
 	
 	<!-- 메인 자주묻는 질문 검색 -->
	<select id="index_QnA_Search" parameterType="java.util.Map" resultType="main.bean.MainDTO">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_QnA where 
 		subject like '%'||#{index_keyword}||'%'or content like '%'||#{index_keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	 <!-- 메인 자주묻는 질문 검색 총글수 -->
 	<select id="getTotal_index_QnA_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from C_QnA where subject like '%'||#{index_keyword}||'%' or 
 		content like '%'||#{index_keyword}||'%'
 	</select>
 	
 	<!-- 메인 주요 시설 연락처 검색 -->
	<select id="index_contactList_Search" parameterType="java.util.Map" resultType="main.bean.MainDTO">
 		select * from 
 		(select rownum rn, tt.* from 
 		(select * from C_contactList where 
 		classify like '%'||#{index_keyword}||'%' or facility like '%'||#{index_keyword}||'%' or 
 		title like '%'||#{index_keyword}||'%' or name like '%'||#{index_keyword}||'%' or 
 		phone like '%'||#{index_keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	 <!-- 메인 주요시설 연락처 검색 총글수 -->
 	<select id="getTotal_index_contactList_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from C_contactList where 
 		classify like '%'||#{index_keyword}||'%' or facility like '%'||#{index_keyword}||'%' or
 		title like '%'||#{index_keyword}||'%' or name like '%'||#{index_keyword}||'%' or 
 		phone like '%'||#{index_keyword}||'%'
 	</select>
 	
 	<!-- 메인 박람회 검색 -->
	<select id="index_eventboard_Search" parameterType="java.util.Map" resultType="main.bean.MainDTO">
  		select * from 
 		(select rownum rn, tt.* from 
 		(select * from eventboard where
 		  imageName like '%'||#{index_keyword}||'%' or image1 like '%'||#{index_keyword}||'%' or
 		  startDate like '%'||#{index_keyword}||'%' or endDate like '%'||#{index_keyword}||'%' or
 		  eventLink like '%'||#{index_keyword}||'%' or startTime like '%'||#{index_keyword}||'%' or
 		  endTime like '%'||#{index_keyword}||'%' or eventPlace like '%'||#{index_keyword}||'%' or
 		  eventPrice like '%'||#{index_keyword}||'%' or eventSeats like '%'||#{index_keyword}||'%' or
 		  eventRate like '%'||#{index_keyword}||'%' or eventContent like '%'||#{index_keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	 <!-- 메인 박람회 검색 총글수 -->
 	<select id="getTotal_index_eventboard_Search" parameterType="java.util.Map" resultType="int">
		select count(*) from eventboard where 
 		 imageName like '%'||#{index_keyword}||'%' or image1 like '%'||#{index_keyword}||'%' or
 		  startDate like '%'||#{index_keyword}||'%' or endDate like '%'||#{index_keyword}||'%' or
 		  eventLink like '%'||#{index_keyword}||'%' or startTime like '%'||#{index_keyword}||'%' or
 		  endTime like '%'||#{index_keyword}||'%' or eventPlace like '%'||#{index_keyword}||'%' or
 		  eventPrice like '%'||#{index_keyword}||'%' or eventSeats like '%'||#{index_keyword}||'%' or
 		  eventRate like '%'||#{index_keyword}||'%' or eventContent like '%'||#{index_keyword}||'%'
 	</select>
 	
 	<!-- 메인 연극 검색 -->
	<select id="index_eventboard_play_Search" parameterType="java.util.Map" resultType="main.bean.MainDTO">
		select * from 
 		(select rownum rn, tt.* from 
 		(select * from eventboard_play where
 		   imageName like '%'||#{index_keyword}||'%' or image1 like '%'||#{index_keyword}||'%' or
 		  startDate like '%'||#{index_keyword}||'%' or endDate like '%'||#{index_keyword}||'%' or
 		  eventLink like '%'||#{index_keyword}||'%' or startTime like '%'||#{index_keyword}||'%' or
 		  endTime like '%'||#{index_keyword}||'%' or eventPlace like '%'||#{index_keyword}||'%' or
 		  eventPrice like '%'||#{index_keyword}||'%' or eventSeats like '%'||#{index_keyword}||'%' or
 		  eventRate like '%'||#{index_keyword}||'%' or eventContent like '%'||#{index_keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	 <!-- 메인 연극 검색 총글수 -->
 	<select id="getTotal_index_eventboard_play_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from eventboard_play where 
 		 imageName like '%'||#{index_keyword}||'%' or image1 like '%'||#{index_keyword}||'%' or
 		  startDate like '%'||#{index_keyword}||'%' or endDate like '%'||#{index_keyword}||'%' or
 		  eventLink like '%'||#{index_keyword}||'%' or startTime like '%'||#{index_keyword}||'%' or
 		  endTime like '%'||#{index_keyword}||'%' or eventPlace like '%'||#{index_keyword}||'%' or
 		  eventPrice like '%'||#{index_keyword}||'%' or eventSeats like '%'||#{index_keyword}||'%' or
 		  eventRate like '%'||#{index_keyword}||'%' or eventContent like '%'||#{index_keyword}||'%'
 	</select>

 	<!-- 메인 숙박 검색 -->
	<select id="index_hotel_list_Search" parameterType="java.util.Map" resultType="main.bean.MainDTO">
		select * from 
 		(select rownum rn, tt.* from 
 		(select * from hotel_list where
 		  imageName like '%'||#{index_keyword}||'%' or image1 like '%'||#{index_keyword}||'%' or
 		  eventLink like '%'||#{index_keyword}||'%' or eventPlace like '%'||#{index_keyword}||'%'
 		 order by seq desc)tt) 
 		where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<!-- 메인 숙박 검색 총글수 -->
 	<select id="getTotal_index_hotel_list_Search" parameterType="java.util.Map" resultType="int">
 		select count(*) from hotel_list where 
 		 imageName like '%'||#{index_keyword}||'%' or image1 like '%'||#{index_keyword}||'%' or
 		 eventLink like '%'||#{index_keyword}||'%' or eventPlace like '%'||#{index_keyword}||'%'
 	</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 