<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="businessRoomSQL">
 	<select id="getCalendar" parameterType="String" resultType="rental.bean.BusinessRoomDTO">
 		select * from businessRoom where roomName = #{businessRoom}
 	</select>
 	
 	<select id="getTimeListBusinessRoom" parameterType="java.util.Map" resultType="rental.bean.BusinessRoomDTO">
 		select first, second, third, fourth from BUSINESSROOM where roomName=#{roomName} and STARTDATE=#{startDate}
 	</select>
 	
 	<select id="rentalBusinessRoom" parameterType="rental.bean.BusinessRoomDTO">
 		insert into BUSINESSROOM(seq, roomName, M_Id, M_Email, numberPeople, startDate, ${time}, totalRent) values(seq_businessroom.nextval,#{roomName}, #{M_Id}, #{M_Email}, #{numberPeople}, #{startDate}, 'Y', #{totalRent}) 
 	</select>
</mapper>