<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="concertHallSQL">
 	
 	<select id="getCalendar" resultType="rental.bean.ConcertHallDTO">
 		select hallName, C_license, C_tel, C_email, totalRent, title, startDate, endDate+1 endDate from concertHall where hallName=#{hallName}
 	</select>
 	

 	
</mapper>