html,body,ul,li,button{
	margin: 0;
	padding: 0;
}

img.pic{
	display: block;
	border: 0;
	width: 1150px;
	height: 500px
}

.slide{
	width:1150px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	
}
    
.slide ul{
	width : 10000px;
	list-style: none;
	font-size: 0;
}

.slide ul li{
	display: inline-block;
}